.classpath
.project
.settings
.idea/
.iml/
target
**/build/
build/
aws.yml
azure.yml
gce.yml
openstack.yml
vars-versions.json
vars-docker-images.json
*.img
execute.sh
*.image.json
*.bak
/build
/bin
.gradle
*.iml
.apib
*.jks
atlassian*
userdatas/
out/
curl_config_admin_user
*.suml
startit.sh
integrationtest/build/
integrationtest/test-output/
owners_log/
stacks_log/
application.yml
suites_log/
test-output/
.DS_Store
test
atlassian-ide-plugin.xml
connection.properties
node_modules/
npm-debug.log
app/static/bower_components
start-local.sh
